:root{
	--mainColor:#070806;
	--secondaryColor:#0d0e0d;

	--borderColor:#0b0909;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgba(14, 18, 11, 0.8);
	--previewShadow:#51eaf5;


	--buttonColor:#18f718;


}
