:root{
	--mainColor:#070806;
	--secondaryColor:#13160f;

	--borderColor:#161914;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgba(14, 18, 11, 0.8);
	--previewShadow:#2a2f25;


	--buttonColor:#050e05;


}
